---
title: Home
---

<h3 >Welcome to the Cloud Native Summit! <span><a target="_blank" href="https://ctt.ac/K5WTy"><img width="40px" src="https://clicktotweet.com/img/tweet-graphic-3.png" /> </a></span></h3>
                <p class="lead" >
                  We hope everyone is staying safe in this globally unique time. 
                </p>
                <p class="lead" >
                  Cloud native open source projects, SIGs, and working groups are core to many of our jobs. As we adjust to working from home and regaining productivity, a group of us figured it makes sense to convene on the interwebs to knowledge share.
                  Using a hallway track format, experts from the community will come together to update each other on the latest cloud native technologies, updates on CNCF projects, and hands on technical sharing. 
              </p>
                  <p class="lead" >
                    We are “colocating” with the Kubernetes Contributor Summit and will share how everyone can attend it this year. This event is envisioned, created, and executed by the community. Come join us!
                  </p>
                   
                </p>
                <p class="">
                    <h3>Please join us for</h3>
                    <div class="alert alert-primary" role="alert">
                        Updates from all graduated CNCF projects - Kubernetes, Prometheus, Envoy, Jaeger, Fluentd, Containerd, CoreDNS, TUF
                      </div>
                      <div class="alert alert-primary" role="alert">
                        A conversation between the key SIG and WG contributors
                      </div>
                      <div class="alert alert-primary" role="alert">
                        An update from CNCF on the upcoming cloud native technology
                      </div>
                      <div class="alert alert-primary" role="alert">
                        Some happy gifs, jokes, and tips on remote work
                      </div>
                     
                    
                        
                    
                </p>

                

                <div id="featured-speakers" style="margin-top: 50px;">

                <h3>Featured Speakers</h3>
                <hr>
                <div>
                    <div class="row">
                      <%= speakers(true) %>
                    </div>
                </div>
            </div>
