---
title: Speakers
---


                <h4 class="display-4">Speakers</h4>
                 <p class="lead" >
                    More speakers are being added as we type! 
                </p>
                
                <div>
                    <div class="row">
                      <%= speakers %>
                    </div>
                
                
                </div>
                
