<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="https://kubernetes.io/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SocialIcons/1.0.1/soc.min.css">

    <style >
        body {
            font-family: 'Ubuntu', sans-serif;

            }

        .vcenter td, th {
          vertical-align : baseline;
          text-align: center;
        }

        .schedule-container ul {
          margin: 0;
          margin-top: 30px;
          list-style: none;
          position: relative;
          padding: 1px 100px;
          color: #6b6363;
          font-size: 16px;
          margin-bottom: 50px;
        }
        .schedule-container ul:before {
          content: "";
          width: 1px;
          height: 100%;
          position: absolute;
          border-left: 2px dashed #aaa;
        }
        .schedule-container ul li {
          position: relative;
          margin-left: 30px;
          background-color: rgba(255, 255, 255, 0.2);
          padding: 14px;
          border-radius: 6px;
          width: 250px;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
        }
        .schedule-container ul li:not(:first-child) {
          margin-top: 60px;
        }
        .schedule-container ul li > span {
          width: 2px;
          height: 100%;
          background: #6cda85;
          left: -30px;
          top: 0;
          position: absolute;
        }
        .schedule-container ul li > span:before, .schedule-container ul li > span:after {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          border: 1px solid #888;
          position: absolute;
          background: #fff;
          left: -5px;
          top: 0;
        }
        .schedule-container ul li span:after {
          top: 100%;
        }
        .schedule-container ul li > div {
          margin-left: 10px;
        }
        .schedule-container div .title, .schedule-container div .type {
          font-weight: 600;
          font-size: 12px;
        }
        .schedule-container div .info {
          font-weight: 300;
        }
        .schedule-container div > div {
          margin-top: 5px;
        }
        .schedule-container span.number {
          height: 100%;
        }
        .schedule-container span.number span {
          position: absolute;
          font-size: 16px;
          left: -50px;
          font-weight: bold;
        }
        .schedule-container span.number span:first-child {
          top: 0;
        }
        .schedule-container span.number span:last-child {
          top: 100%;
        }
    </style>

    <title><%= @item[:title] %> - Cloud Native Summit Online</title>

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 20px; margin-bottom: 20px;">
          
            <a class="navbar-brand" href="/" style="font-weight: bolder;">
                Cloud Native Summit Online 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                <a class="nav-link" href="/speakers">Speakers</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/schedule">Schedule</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/codeofconduct">Code of Conduct</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/supportus">Support Us</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/thanks">Thanks</a>
                  </li>
            </ul>
            </div>
        </nav>

        <img src="/images/cloudnativesummit-header.jpg" width="100%" class="img-fluid" alt="Responsive image">

        <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
            <div class="col-sm-9" style="line-height: 1.6 !important;">
              <%= yield %>
                
            </div>
                
            
            <div class="col-sm-3" >
              
                <div class="card text-center" style="width: 16rem; margin: 0 auto;">
                      <div class="card-body">
                        <h2 class="card-title">March</h2> <h1 style="font-size: 60px;">30th</h1>  <h3>2020</h3> <h3></h3>
                        
                        <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Save the date!
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Save the date!</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body" id="modalBody">
                              <p style="text-align: left;">
                                Please enter your email address so we can send you the code of conduct and the event details once we have ironed out exactly what platform to use for the livestreaming and “hallway” engagement. 
                              </p>
                              <form>
                                <div class="form-group">
                                  
                                  <input type="text" class="form-control" id="registrant-name" aria-describedby="emailHelp" placeholder="Name" required>
                                  
                                </div>
                                <div class="form-group">
                                  
                                  <input type="email" class="form-control" id="email" placeholder="Email" required>
                                  <small id="emailHelp" class="form-text text-muted">We will only use your email for event related communications.</small>
                                </div>
                               
                                <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>
                              </form>
                            </div>
                            <div class="modal-footer" id="modal-footer" style="text-align: center;">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                        <!--<a href="#" class="btn btn-primary">Add to calendar</a>-->

                        <!-- Button code 
                      <div title="Add to Calendar" class="addeventatc">
                          Add to Calendar
                          <span class="start">03/30/2020 08:00 AM</span>
                          <span class="end">03/30/2020 10:00 PM</span>
                          <span class="timezone">America/Los_Angeles</span>
                          <span class="title">Cloud Native Summit Online</span>
                          <span class="description">Cloud Native Summit Online</span>
                          <span class="location">Virtual</span>
                      </div>
                      -->
                      </div>
                    </div>

                    <div class="card" style="width: 16rem; margin: 0 auto; margin-top: 20px;">
                      <div class="card-header" style="text-align:center !important">
                        Support Us
                      </div>
                      <div class="card-body">
                        
                        <p class="card-text">Join us by speaking at, planning for, or promoting the event.</p>
                        <p style="text-align:center !important"><a href="/supportus" class="btn btn-primary">Learn more</a></p>
                      </div>
                    </div>
                    <div style="text-align: center; margin-top: 20px;">
                      
                        <div class="soc" data-size="50px" data-radius="circle">
                          <a target="_blank" href="https://ctt.ac/K5WTy" class="soc-twitter" title="Twitter"></a>
                        </div>
                        <a target="_blank" href="https://ctt.ac/K5WTy"><h4 style="color:#6b6363">#CloudNativeSummit</h4></a>
                      </a>
                    </div>
              </div>

              

            
        </div>

        
            <hr>

            <div class="card" style="margin-top: 20px;">
              <div class="card-header">
                <h3>Organizers</h3>
              </div>
              <div class="card-body">
                <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
            
                  <%= supporters(true) %>
                  
      
              </div>
                
              </div>
            </div>

            <div class="card" style="margin-top: 20px;">
              <div class="card-header">
                <h3>Supporters</h3>
              </div>
              <div class="card-body">
                <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
            
                  <%= supporters %>
              </div>
                
              </div>
            </div>
        

        <footer style="text-align:center; padding-bottom: 20px;">
            <hr>
            &copy; 2020 | Edit this <a href="https://gitlab.com/abuango/cloudnativesummit/">site</a> — open <a href="https://gitlab.com/-/ide/project/abuango/cloudnativesummit/">Web IDE</a> — please <a href="https://gitlab.com/abuango/cloudnativesummit/-/blob/master/README.md">contribute.</a>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SocialIcons/1.0.1/soc.min.js"></script>
        <script type="text/javascript">
          $( document ).ready(function() {
            
            $("form").submit(function(e){
              e.preventDefault();
              $('#modal-footer').html('<span class="badge badge-info">Please wait...</span>')
              email_regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,6})+$/;
              if(!email_regex.test($('#email').val())){
                $('#modal-footer').html('<span class="badge badge-danger">Invalid Email, Please try again</span>')
              }else{
                $.ajax({
                  type: 'POST',
                  url: 'https://lke8u9e40b.execute-api.us-east-2.amazonaws.com/default/cloudNativeRegistration',
                  dataType: 'json',
                  data: '["'+$('#registrant-name').val()+'","'+$('#email').val()+'"]',
                  success: (result) => {
                    console.log(result)
                    if(result.status == 200){
                      $.getScript('https://addevent.com/libs/atc/1.6.1/atc.min.js', function() {
                        $('#modalBody').html(
                          '<p>Thank you! Feel free to add the event to your calendar and tweet about it. More details are forthcoming via email.</p>  <div title="Add to Calendar" class="addeventatc">Add to Calendar<span class="start">03/30/2020 08:00 AM</span><span class="end">03/30/2020 10:00 PM</span><span class="timezone">America/Los_Angeles</span><span class="title">Cloud Native Summit Online</span><span class="description">Cloud Native Summit Online</span><span class="location">Virtual</span></div> <div style="margin-top:10px;"> <a target="_blank" href="https://ctt.ac/K5WTy"><img src="https://clicktotweet.com/img/tweet-graphic-3.png" /></a></div>'
                        )
                      });
                      
                      $('#modal-footer').html('<span class="badge badge-success">Thank you...</span>')
                    }
                    else {
                      $('#modal-footer').html('<span class="badge badge-info">Something went wrong, please try again...</span>')
                    }
                  },
                  error: (result) => {
                    console.log(result)
                  }
                });
              }

            });
          });
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161464059-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-161464059-1');
        </script>


</div>
  </body>
</html>
